@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33.7 100% 96%;
    --foreground: 12 7% 15%;
    --card: 12 7% 15%;
    --card-foreground: 33.7 100% 96%
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 31.79 100% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 24 10% 10%;
    --foreground: 34.49 100% 92%;
    --card: 34.49 100% 92%;
    --card-foreground: 24 10% 10%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 31.79 100% 51%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply max-w-full bg-background text-foreground;
  }
  a {
    @apply hover:underline;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply whitespace-normal break-words;
  }

  /* Optional: prose links inherit color and underline on hover */
  .prose a {
    @apply text-primary hover:underline;
  }
  /* Optional: custom heading colors/sizes */
  .prose h1 {
    @apply text-3xl font-bold text-foreground mt-8 mb-4;
  }
  .prose h2 {
    @apply text-2xl font-semibold text-foreground mt-8 mb-4;
  }
  .prose h3 {
    @apply text-xl font-semibold italic text-foreground mt-4 mb-4;
  }
  .prose p {
    @apply whitespace-normal break-words text-base indent-6 leading-loose text-foreground;
  }
}
